html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow:hidden;
}

body {
  display: flex;
  flex-direction: row;
  background-color: black;
  color: white;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box
}